@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');
@import url(reset.css);


/* начало Header */

.header {
    width: 1440px;
    height: 1032px;
    background-color: #191919;
}

.header-container {
    max-width: 1440px;
    height: 119px;



    display: flex;
    justify-content: space-between;
    align-items: center;



}

.header-logo {
    margin: 43px 0 43px 50px;
}

.nav-list {
    display: flex;
    column-gap: 40px;

}

.header-nav {
    margin-right: 70px;
}

.nav-link {
    color: #FFF;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; 
}
.active {
    color: #118DA8;;
}

/* Начало subheader */

.header-title {
    color: #FFF;
    font-family: DM Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px; 
    letter-spacing: 3.2px;



}

.subheader-container {
    width: 1440px;

    display: flex;
    align-items: center;

    column-gap: 60px;

    position: relative;

    margin-top: 40px;

}

.container-of-services h2 {
    margin-top: 90px;
    margin-bottom: 16px;

    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.list-services {
    display: flex;
    column-gap: 17px;
}

.subheader-logo {
    margin-left: 70px;

}

.decorative-line {
    position: absolute;
    top: -27px;
    left: 43px;

}

.header-bold-text {
    font-weight: 700; 
}

.next-decoration {
    background-image: url(/img/LineUnderText.svg);
}

/* Конец header и subheader */

.main {
    width: 1440px;
    height: 4520px;

    background-color: #191919;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 93px;
    padding-left: 50px;
}

.main-header button {
    margin-right: 70px;
    border-radius: 6px;
    
    width: 178px;
    height: 51px;

    background-color: #118DA8;
    color: #FFF;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal; 
}

.main-header h1 {
    margin-left: 20px; 

    color: #FFF;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px; 
    letter-spacing: 2.88px;
}

.cards-container {
    

    width: 1300px;
    height: 545px;

    background-color: black;

    border-radius: 32px;

    margin: 0 auto;
}

.inline-container  {
    display: flex;

    column-gap: 53px;

    margin-top: 60px;
}

.inline-container img {
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 5px;
}




.gear {
    width: 73px;
    height: 27px;
    background-color: #191919;
    border-radius: 6px;
    text-align: center;

    margin-top: 48px;

    
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.episode {
    margin-top: 48px;

    color: #118DA8;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; 
}

.inline-container p:nth-last-child(3) {
    color: #FFF;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px; /* 110% */
    letter-spacing: 2.56px;
    margin-right: 150px;
    margin-top: 18px;
    margin-bottom: 28px;
}

.inline-container p:nth-last-child(2) {
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 150% */
    margin-right: 207px;
}

.big-text-container button {
    margin-top: 18px;

    width: 208px;
    height: 51px;

    border-radius: 6px;

    background: #118DA8;
    color: #FFF;
    font-size: 18px;
    font-family: DM sans;
}

.tipstricks {
    width: 136px;
    height: 27px;
    background-color: #191919;
    border-radius: 6px;
    text-align: center;

    margin-top: 48px;

    
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}